<div class="row">
  <div class="col-md-4">
    <div class="item-photo">
      <img style="max-width:100%;" [src]='product?.url' />
    </div>
  </div>
  <div class="col-md-8">
    <h3>{{ product?.productName }} </h3>
    <h3 style="margin-top:0px;">$ {{product?.price}}</h3>
    <div class="section" style="padding-bottom:20px;">
      <h6 class="title-attr"><small>Quantity:</small></h6>
      <div>
        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
        <!-- <input value="1" /> -->
        <form [formGroup]="productForm">
        <input type="number" formControlName="quantity" required name="quantity" id="quantity" class="form-control"
          style="width: 100px;" [ngClass]="{'is-invalid':quantity.errors && quantity.touched}">
        <div class="invalid-feedback" *ngIf="quantity.hasError('required')">
          Quantity is required
        </div>
        <div class="invalid-feedback" *ngIf="quantity.hasError('min')">
          Minimum Quantity is 1
        </div>
        <div class="invalid-feedback" *ngIf="quantity.hasError('max')">
          Maximum Quantity is {{product.quantity}}
        </div>
      </form>
        <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
      </div>
    </div>
    <div class="section" style="padding-bottom:20px;">
      <!-- <button class="btn btn-success" [disabled]="productForm.invalid"><span class="glyphicon glyphicon-shopping-cart"
          aria-hidden="true" (click)="addToCart()"></span>Add To Cart</button>           -->
          <button type="button" class="btn btn-sm btn-primary" (click)="addToCart()"
                    [disabled]="productForm.invalid">
                    Add to cart
                </button>
    </div>
    <div style="width:100%;border-top:1px solid silver">
      <h4>Description</h4><br>
      <p>
        <small>{{product?.description}}</small>
      </p><br>
    </div>
    <div style="width:100%;border-top:1px solid silver">
      <h4>Specification</h4><br>
      <ul>
        <li *ngFor="let item of product?.specDetails">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</div>