<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header text-center">Register</h5>
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col">
          <label for="username">User Name</label>
          <input type="text"
                 formControlName="username"
                 class="form-control"
                 [ngClass]="{'is-invalid':username.errors && username.touched}"
                 id="username"
                 placeholder="Username">
          <div class="invalid-feedback"
               *ngIf="username.hasError('usernameTaken')">
            Username is taken
          </div>
          <div class="invalid-feedback"
               *ngIf="username.hasError('required')">
            Username is required
          </div>
          <div class="invalid-feedback"
               *ngIf="username.hasError('minlength')">
            Username must be at least 3 characters
          </div>
        </div>
        <div class="form-group col">
          <label for="email">E-mail</label>
          <input type="text"
                 formControlName="email"
                 class="form-control"
                 [ngClass]="{'is-invalid':email.errors && email.touched}"
                 id="email"
                 placeholder="E-Mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div class="invalid-feedback"
               *ngIf="email.hasError('required')">
            E-mail is required
          </div>
          <div class="invalid-feedback"
               *ngIf="email.errors?.pattern">
            Please provide a valid email address
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="password">Password</label>
          <input type="password"
                 formControlName="password"
                 class="form-control"
                 [ngClass]="{'is-invalid':password.errors && password.touched}"
                 id="password"
                 placeholder="Password">
          <div class="invalid-feedback"
               *ngIf="password.hasError('required')">
            Password is required
          </div>

        </div>
        <div class="form-group col">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password"
                 formControlName="confirmPassword"
                 class="form-control"
                 [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}"
                 id="confirmPassword"
                 placeholder="Confirm Password">
          <div class="invalid-feedback"
               *ngIf="confirmPassword.hasError('passwordMismatch')">
            Passwords Don't Match
          </div>
          <div class="invalid-feedback"
               *ngIf="confirmPassword.hasError('required')">
            Confirm password is required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="firstname">First Name</label>
          <input type="text"
                 formControlName="firstname"
                 class="form-control"
                 [ngClass]="{'is-invalid':firstname.errors && firstname.touched}"
                 id="firstname"
                 placeholder="First Name">
          <div class="invalid-feedback"
               *ngIf="firstname.hasError('required')">
            First Name is required
          </div>
        </div>
        <div class="form-group col">
          <label for="lastname">Last Name</label>
          <input type="text"
                 formControlName="lastname"
                 class="form-control"
                 [ngClass]="{'is-invalid':lastname.errors && lastname.touched}"
                 id="lastname"
                 placeholder="Last Name">
          <div class="invalid-feedback"
               *ngIf="lastname.hasError('required')">
            Last Name is required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="mobilenumber">Mobile Number</label>
          <input type="text"
                 formControlName="mobilenumber"
                 class="form-control"
                 [ngClass]="{'is-invalid':mobilenumber.errors && mobilenumber.touched}"
                 id="mobilenumber"
                 placeholder="Mobile Number" pattern="^((\\+91-?)|0)?[0-9]{10}$">
          <div class="invalid-feedback"
               *ngIf="mobilenumber.hasError('required')">
            Mobile Number is required
          </div>
          <!--<div *ngIf="mobilenumber.hasError('pattern')">

          </div>-->
          <div class="invalid-feedback"
               *ngIf="mobilenumber.errors?.pattern">
            Please, Enter 10 digit Mobile Number
          </div>
        </div>
        <div class="form-group col">
          <label for="address1">Address1</label>
          <input type="text"
                 formControlName="address1"
                 class="form-control"
                 [ngClass]="{'is-invalid':address1.errors && address1.touched}"
                 id="address1"
                 placeholder="Address1">
          <div class="invalid-feedback"
               *ngIf="address1.hasError('required')">
            Address1 is required
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="address2">Address2</label>
          <input type="text"
                 formControlName="address2"
                 class="form-control"
                 [ngClass]="{'is-invalid':address2.errors && address2.touched}"
                 id="address2"
                 placeholder="Address2">
          <div class="invalid-feedback"
               *ngIf="address2.hasError('required')">
            Address2 is required
          </div>
        </div>
        <div class="form-group col">
          <label for="address3">Address3</label>
          <input type="text"
                 formControlName="address3"
                 class="form-control"
                 [ngClass]="{'is-invalid':address3.errors && address3.touched}"
                 id="address3"
                 placeholder="Address1">
          <div class="invalid-feedback"
               *ngIf="address3.hasError('required')">
            Address3 is required
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-success"
                type="submit"
                [disabled]="userForm.invalid">
          <i class="fas fa-save"></i> Register
        </button>
        <button class="btn btn-secondary"
                (click)="clear()">
          <i class="fas fa-snowplow"></i> Clear
        </button>
      </div>
    </form>


  </div>
</div>

